body {
  margin: 0;
  font-family: "Georgia", serif;;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

section {
  padding: 2rem;
} 

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
}

footer {
  margin: 0;
  padding: 1rem;
}

div.flex-container {
  display: flex;
  /* Show the flex items horizontally */
  flex-direction: row;
}

div.flex-container > div {
  margin: 10px;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  div.flex-container {
    flex-direction: column;
  }
}


